@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-header {
    width: 100%;
    height: 100vh;
    padding: 30px;
    position: relative;
}

.row-nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-s{
    display: flex;
    border: 2px solid #0f141e;;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-s p {
    font-size: 32px;
    font-weight: 600;
    color: #0f141e;

}

.logo-name {
    padding-left: 10px;
}

.logo-sd p{
    font-size: 30px;
    font-weight: 700;
}
.logo-fwd p{
    font-size: 18px;
    font-weight: 300;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.wrapper{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0);
    clip-path: circle( 50px at calc(100% - 45px) 43px);
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.active{
    clip-path: circle(75%);
    background-color: #0f141e;
}

.wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}
.wrapper ul li{
    margin: 15px 0;
}
.wrapper ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 50px;
    position: relative;
    transition: all 0.3s ease;
    line-height: 50px;
}

.wrapper ul li a:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    background: #fff;
    left:0;
    z-index: -1;
    border-radius: 50px;
    transform: scaleY(0);
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover::after{
    transform: scaleY(1)
}

.wrapper ul li a:hover {
    color:#0f141e;
}

/*================ Menu btn =====================*/

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    left: 94%;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
   
}

.menu-btn__burger {
    width: 45px;
    height: 4px;
    background: #0f141e;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47, .2);
    transition: all .5s ease-in-out;
    
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 4px;
    background: #0f141e;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-13px);
}

.menu-btn__burger::after {
    transform: translateY(13px)
}

/* ============ Menu animation =========*/

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;

}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    background: #ffffff;
    
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background: #ffffff;
}

/*=====================LandPage css==============*/

.row {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.header-about {
    padding: 250px 0 0 50px;
}

.header-about__name {
    padding-bottom: 25px;
}
.header-about__name p{
    font-weight: 300;
    color: #878a8f;
    letter-spacing: 3px;
    font-size: 18px;
}
.header-about-h {
    padding-bottom: 25px;
}
.header-about-h span {
    color:#b40101;
}
.header-about-h h1 {
    font-size: 65px;
    font-weight: 900;
    margin-right: -150px;
    color: #0f141e;
}
.header-about__info {
    padding-bottom: 25px;
}
.header-about__info p{
    color: #878a8f;
    font-size: 22px;
    line-height: 1.7;
}
.header-about__p {
    font-size: 20;
    color: #878a8f;
}
.header-about__p .view-project {
    color: #b40101;
    font-size: 22px;
    font-weight: 400;
    padding-right: 20px;
}
.header-about__p .read-am {
    color: #b40101;
    font-size: 22px;
    font-weight: 400;
    padding-left: 20px;
}

.profile-image {
    background-image: url(./images/personal-image.png);
    background-position: center;
    background-size: cover;
    min-width: 800px;
    min-height: 400px;
    margin-top: -60px;
}

.container-about {
    height: 110vh;
    width: 100%;
}
.row-about {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 20%;
}
.about-me-h {
    padding-bottom: 35px;
    padding-top: 45px;
}
.about-me-h p {
    font-size: 15px;
    letter-spacing: 8px;
    font-weight: 300;
    color:#878a8f;
}
.about-me-h span {
    color: #b40101;
    font-size: 50px;
    font-weight: 900;
}

.about-main__text{
    font-size: 33px;
    font-weight: 600;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.2;
    color: #0f141e;
    padding-bottom: 30px;
}
.about-section__p {
    padding-left: 20%;
    padding-right: 20%;
    color: #878a8f;
    padding-bottom: 100px;
}
.about-section__p p{
    line-height: 1.6;
    font-size: 22px;
    font-weight: 400;
}

hr {
    width: 80%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0,0,0, 0.1);
    border-bottom: 1px solid rgba(255,255,255, 0.3);
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-bottom: 150px;
}

.technologies-use p{
    font-size: 15px;
    letter-spacing: 8px;
    font-weight: 300;
    color:#878a8f;
    text-transform: uppercase;
}
.technologies-use {
    padding-bottom: 40px;
}
.technologies p{
    font-size: 24px;
    font-weight: 400;
    color:#0f141e;
}
.technologies span{
    color: #878a8f;
    padding-left: 5px;
    padding-right: 5px;
}
.technologies {
    margin: auto;
    min-height: 300px;
    width: 400px;
    line-height: 1.5;
}
