* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Helvetica Now Display";
    src: url(./fonts/HelveticaNowDisplay-Medium.ttf);
    font-style: normal;
    font-weight: 100;
}
body {
    font-family: "Helvetica Now Display";
}

.container-header {
    margin-left: 40px;
    margin-right: 40px;
    height: 100vh;
    height: 100vh;
    background-image: url("../images/personal-image.png");
    background-repeat: no-repeat;
    background-position: 150%;
    background-size: contain;
}
.nav-bar {
    color: #0f141e;
    padding-top: 30px;
}

.nav-right ul {
    margin: 0 10px;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.nav-right ul li {
    list-style: none;
    text-decoration: none;
    vertical-align: middle;
    font-size: 24px;
    padding-left: 30px;
    color: #b40101;
    display: flex;
    justify-content: center;
}
.nav-right ul li a {
    color:#0f141e;
    border: none;
    cursor: pointer;
}
.nav-item-num {
    padding-right: 8px;
}
.nav-right a:hover {
    text-decoration: none;
}
.nav-right a::after {
    content: '';
    background: #b40101;
    display: block;
    width: 100%;
    height: 3px;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in;
}
.nav-right a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


.nav-left {
    display: flex;
    justify-content:flex-start;
   
}

.logo {
    margin-right: 15px;
    align-items: center;
    font-size: 39px;
    width: 65px;
    height: 65px;
    position: relative;
    border: 4px solid #0f141e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 5px;
}
#logo-name {
    font-size: 30px;
    font-weight: 600;
}
.logo p {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    font-weight: 600;
    padding-top: 2px;
}

.name {
    margin: auto;
    margin-left: 0;
}

.name ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name ul li {
    list-style: none;
    text-decoration: none;
    vertical-align: middle;
    justify-content: center;
    font-size: 18px;
}

.personal-info {
    padding-top: 9em;
}

.personal-info h1 {
    font-size: 90px;
    font-weight: 600;
}
.personal-info p {
    font-size: 28px;
    color: grey;
}
.header-experiance {
    width: 87%;
}
#header-name p {
    font-size: 20px;
}