* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url(./fonts/HelveticaNowDisplay-Medium.ttf);
  font-style: normal;
  font-weight: 100;
}

body {
  font-family: "Helvetica Now Display";
}

.container-header {
  margin-left: 40px;
  margin-right: 40px;
  height: 100vh;
  height: 100vh;
  background-image: url("../images/personal-image.png");
  background-repeat: no-repeat;
  background-position: 150%;
  background-size: contain;
}

.nav-bar {
  color: #0f141e;
  padding-top: 30px;
}

.nav-right ul {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.nav-right ul li {
  list-style: none;
  text-decoration: none;
  vertical-align: middle;
  font-size: 24px;
  padding-left: 30px;
  color: #b40101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-right ul li a {
  color: #0f141e;
  border: none;
  cursor: pointer;
}

.nav-item-num {
  padding-right: 8px;
}

.nav-right a:hover {
  text-decoration: none;
}

.nav-right a::after {
  content: '';
  background: #b40101;
  display: block;
  width: 100%;
  height: 3px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.nav-right a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo {
  margin-right: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  width: 55px;
  height: 55px;
  position: relative;
  border: 3px solid #0f141e;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 5px;
}

#logo-name {
  font-size: 25px;
  font-weight: 600;
}

.logo p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  font-weight: 600;
  padding-top: 2px;
}

.name {
  margin: auto;
  margin-left: 0;
}

.name ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name ul li {
  list-style: none;
  text-decoration: none;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
}

.personal-info {
  padding-top: 14em;
  padding-left: 4em;
}

.personal-info h1 {
  font-size: 65px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 20px;
}

.personal-info p {
  font-size: 22px;
  color: grey;
}

.header-experiance {
  width: 87%;
}

#header-name p {
  font-size: 16px;
  letter-spacing: 2.3px;
  font-weight: 100;
}

#header-name span {
  padding-right: 20px;
}

.view-about {
  padding-top: 20px;
}

.view-about a {
  font-weight: 600;
  color: #b40101 !important;
  letter-spacing: 1px;
}

#web {
  color: #b40101;
}
/*# sourceMappingURL=style.css.map */